In [1]:
import pandas as pd

In [81]:
sheet = pd.read_excel('death-data.xlsx', skiprows=6)

In [89]:
sheet

,GBD code,Unnamed: 2,GBD cause (b),Unnamed: 4,Unnamed: 5,Unnamed: 6,Afghanistan,Albania,Algeria,Andorra,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
5,NaN,NaN,Population ('000) (e),NaN,NaN,NaN,24076.4,3134.4,32365.8,72.297,...,37508,296844,3323.92,26208.8,209.918,26260.3,83839.5,20477.9,11269.8,13025.2
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,W000,NaN,All Causes,NaN,NaN,NaN,510.525,26.0936,172.046,0.613454,...,543.889,2467.56,31.0504,189.97,1.21413,116.714,518.884,184.54,211.714,309.294
8,NaN,NaN,NaN,Lower uncertainty bound (f),NaN,NaN,328.074,24.4318,157.856,0.483172,...,532.214,2413.03,30.6151,180.441,0.958969,111.144,489.863,139.161,174.359,290.565
9,NaN,NaN,NaN,Upper uncertainty bound (f),NaN,NaN,792.174,29.6488,185.994,0.742045,...,621.379,2525.23,31.4722,200.249,1.46115,122.274,546.481,244.968,256.899,376.142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,W158,NaN,NaN,2.,Violence,NaN,0.813018,0.207716,3.10228,0.000601794,...,9.79012,17.6473,0.160774,0.921024,0.00246984,10.2947,3.16523,0.509976,2.58164,4.28359
136,W159,NaN,NaN,3.,War,NaN,1.57064,0.004036,1.01543,0,...,0.108218,0.9,0,0.039617,0,0,0.030427,0.5,0.003221,0.05
137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,Refer to Notes sheet for notes on this table.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [84]:
sheet.drop(["Unnamed: 0"], axis = 1, inplace = True)

In [88]:
sheet.drop([4], axis = 0, inplace = True)

In [92]:
sheet.head(10)

,GBD code,Level 1,Level 2,Level 3,Level 4,Unnamed: 6,Afghanistan,Albania,Algeria,Andorra,...,United Republic of Tanzania,United States of America,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Yemen,Zambia,Zimbabwe
5,NaN,NaN,Population ('000) (e),NaN,NaN,NaN,24076.4,3134.4,32365.8,72.297,...,37508,296844,3323.92,26208.8,209.918,26260.3,83839.5,20477.9,11269.8,13025.2
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,W000,NaN,All Causes,NaN,NaN,NaN,510.525,26.0936,172.046,0.613454,...,543.889,2467.56,31.0504,189.97,1.21413,116.714,518.884,184.54,211.714,309.294
8,NaN,NaN,NaN,Lower uncertainty bound (f),NaN,NaN,328.074,24.4318,157.856,0.483172,...,532.214,2413.03,30.6151,180.441,0.958969,111.144,489.863,139.161,174.359,290.565
9,NaN,NaN,NaN,Upper uncertainty bound (f),NaN,NaN,792.174,29.6488,185.994,0.742045,...,621.379,2525.23,31.4722,200.249,1.46115,122.274,546.481,244.968,256.899,376.142
10,W001,I.,"Communicable, maternal, perinatal and nutritio...",NaN,NaN,NaN,346.533,1.5567,51.7425,0.0291854,...,369.824,154.5,2.38611,47.19,0.346396,16.3374,120.244,86.9687,162.109,242.822
11,W002,NaN,A.,Infectious and parasitic diseases,NaN,NaN,138.048,0.490667,17.687,0.0106612,...,247.457,68.1267,0.780032,17.9372,0.226154,6.37843,67.5787,29.1844,119.773,213.948
12,W003,NaN,NaN,1.,Tuberculosis,NaN,10.0745,0.120071,0.626358,0.00084226,...,18.2868,0.767543,0.087928,4.11986,0.0352092,0.743564,18.2878,2.22849,6.84877,8.02373
13,W004,NaN,NaN,2.,STDs excluding HIV,NaN,1.27375,0.00416197,0.488776,3.49346e-05,...,4.38406,0.149692,0.00509609,0.07027,4.2151e-06,0.0590008,1.03681,0.213065,0.425294,0.228738
14,W005,NaN,NaN,NaN,a.,Syphilis,0.931218,0.00416197,0.159685,1.73587e-05,...,3.82905,0.0449213,0.00210365,0.056708,0,0.0409561,0.658352,0.196419,0.328625,0.106303

In [93]:
sheet.rename(columns = {'Unnamed: 2':'Level 1', 'GBD cause (b)': 'Level 2', 'Unnamed: 4': 'Level 3', 'Unnamed: 5':'Level 4' }, 
             inplace = True)